<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/WhatsApp-Image-2024-04-01-at-19.00.21_ac7de810.ico">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Rasa Jadoel</title>
</head>
<body>
    <div id="section_top" class="home">
        <header>
        <img src="/images/WhatsApp Image 2024-04-01 at 19.00.21_ac7de810.jpg" class="logo" id="logo">
        <ui id="navbar">
            <li><a href=".home">Home</a></li>
            <li><a href=".product">Product</a></li>
            <li><a href=".about">About Us</a></li>
            <li><a href=".contact">Contact Us</a></li> 
            <li><a href="/register">Register</a></li>
            <li><form action="/auth/logout" method="POST">
                <button style="border:none; background: none; font-family:'Times New Roman', Times, serif; font-size: 16px;" type="submit">Logout</button>
            </form></li>
        </ui>
    </header>
    <div id="section_top_middle">
        <div class="text">
            <h3>Masakan Ala Ibu Di rumah</h3>
            
        </div>
        <div class="image">
     <img src="/images/104282356_3188680147860832_7682586695568529317_n.jpg" id="banner">
             </div>
        </div>
    </div>
    <div id="section_middle" class="product">
        <h5>Product</h5>
        <div class="image_Product">
            <img src="/images/Keripik Talas.jpg" class="product_img">
            <div class="hover-box">
                Bahan-bahan yang digunakan:<br>
                1. Talas<br>
                2. Kunyit<br>
                3. Garam<br>
                4. Penyedap Rasa<br>
                5. Sahang/Lada<br>
                6. Minyak Goreng
            </div>
            <div class="image-info">
                <h3 class="title">Keripik Talas</h3>
                <p class="comment">"Rasa renyah dan asin dari talas sangat cocok menjadi makanan ngemil anda"</p>
            </div>
        </div>
    
        <div class="image_Product">
            <img src="/images/Poeding.jpg" class="product_img">
            <div class="hover-box">
                Bahan-bahan yang digunakan:<br>
                1. Agar-Agar<br>
                2. Jelly<br>
                3. Susu<br>
                4. Coklat<br>
                5. Gula<br>
                6. Buah Lengkeng<br>
                7. Air
            </div>
            <div class="image-info">
                <h3 class="title">Poeding</h3>
                <p class="comment">"Cocok sekali untuk acara-acara kebersamaan. Catatan: dinginkan di kulkas untuk<br> mendapatkan rasa dingin yang nikmat"</p>
            </div>
        </div>
    
        <div class="image_Product">
            <img src="/images/Singkong Thai.jpg" class="product_img">
            <div class="hover-box">
                Bahan-bahan yang digunakan:<br>
                1. Singkong<br>
                2. Gula<br>
                3. Vanila<br>
                4. Santan<br>
                5. Garam<br>
                6. Air<br>
                7. Tepung Kanji
            </div>
            <div class="image-info">
                <h3 class="title">Singkong Thai</h3>
                <p class="comment">"Makanan yang cocok sebagai makanan penutup. Singkong lembut dipadukan dengan<br>
                santan memberikan rasa asin, manis, dan creamy."</p>
            </div>
        </div>
    </div>
    <div id="section_quarter_bottom" class="about">
        <div class="container">
            <h1>About Us</h1>
            <p>Pada awalnya, Rasa Jadoel merupakan usaha makanan <br>
                yang dibuat karena hobi semata, namun semakin bertambah<br>
                usia pada akhirnya usaha ini dipersiapkan untuk menjadi penghasilan<br>
                di masa tua, makanan yang disediakan pun merupakan makanan yang tidak <br>
                rumit karena berfokus kepada masakan dahulu dan tidak menyediakan makanan <br>
                yang bisa dikonsumsi dalam situasi apapun.</p>
            <img src="/images/104282356_3188680147860832_7682586695568529317_n.jpg" alt="About Us" class="about-img">
        </div>
    </div>  
    <div id="section_bottom" class="contact">
        <h1>Contact Us</h1>
        <div id="profil_insta">
        <h3>Profil Instagram</h3>
        <img src="/images/insagram.png" alt="Profil Instagram" id="insta">
        </div>
        <h2>Jika Ingin Mencoba, Silahkan Pre-Order:</h2>
        <div id="order">
            <img src="/images/instagram-icon_1057-2227.avif" class="icon">
            <div class="num">
                <a href="https://www.instagram.com/rasa.jadoel/?igsh=cTdidjlxN3h2c2I1">
                @rasa.jadoel
                </a>
            </div>
            <img src="/images/4cb2d886f40533599248a9673ea8e245.jpg" class="icon">
            <div class="num">
                081933871076
            </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2024 Rasa Jadoel. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/fuction.js"></script>
</body>
</html>