<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/stylsheets/login.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <div>
      <label for="email_user">Email:</label>
      <input type="email" name="email_user" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <a href="/register">Register</a>
  </form>
</body>
</html>
